<% content_for(:title, "Project | Latasha Wanjira") %>

<%= image_tag @project.image.url(:medium) %>

<h2><%= @project.project_name %></h2>
<p>Description: <%= @project.description %></p>
<p>Link: <%= @project.link %></p>

<p><%= link_to "Edit Project", edit_project_path %> | <%= link_to "Delete Project", project_path(@project), :data => { :confirm => "Are you sure you want to delete this project?", :method => "delete" } %></p>